.container{

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 0.5fr 1fr 0.2fr;

    justify-content: center;
}



.title{
    
    text-align: center;

}

.sale{
    background-color: var(--secundary_color_blue);
    padding-top: 6%;
    padding-left: 1.5%;
    border-radius: 15px;
    margin-left: 35%;
    width: max-content;
    height: min-content;

    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(2, 300px);
    gap: 5px;
    justify-content: center;
}

.comunismo{
    grid-column: 0/1;
    grid-row: 1/2;
}

.comunismo2{
    grid-column: 1/2;
    grid-row: 1/2;
}

.comunismo3{
    grid-column: 0/2;
    grid-row: 2/3;
}

.footer{

    text-align: center;
}