
.container{

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 0.5fr 1fr 0.2fr;

    justify-content: center;

    background-image: url("../../public/backgrounds/circle-scatter-haikei.svg");
    
}



.title{
    
    text-align: center;
    font-size: 30px;
    background-color: transparent;

}

.title_p{
    background-color: transparent;
}
.title_h1{
    background-color: transparent;
}

.sale{
    
    background-image: url("../../public/index_nav/title_background.jpeg");
    padding-top: 1%;
    padding-left: 0.5%;
    padding-bottom: 0.5%;
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: space-evenly;
}

.sale_title{
    background-color: transparent;
    text-align: center;
    font-size: 70px;
    height: 20px;
}

.img{
    order: 1;
}
.img2{
    order: 0;
}
.img3{
    order: 3;
}

.recomendado{
    background-color: var(--secundary_color_white);
    border-color: var(--secundary_color_blue);

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 5px;
    margin: 20px 0px;
    align-items: center;
    justify-content: space-around;

}

.recomendado p{
    color: var(--main_color);
    text-align: center;
    align-items: center;
    font-size: 30px;
    background-color: transparent;
}

.recomendado_img{
    padding: 5px;
    background-color: transparent;

    display: flex;
    justify-content: center;
    gap: 25px;
}

.more{
    background-color: var(--secundary_color_white);
    border-color: var(--secundary_color_blue);

    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr;
    gap: 5px;
    margin: 20px 0px;
    align-items: center;
    justify-content: space-around;

}

.more p{
    color: var(--main_color);
    text-align: center;
    align-items: center;
    font-size: 30px;
    background-color: transparent;
}

.more_img{
    background-color: transparent;
}


.footer{
    
    background-color: transparent;
    text-align: center;
}

.footer_p{
    background-color: transparent;
}