.login_button{
    margin-top: 10px;
    width: 100%;
}

.sheet{
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(46, 46, 44);
    width: 30%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
}


.login_username{
    background-color:  rgb(46, 46, 44);
    border-color: black;
}

.login_password{
    background-color:  rgb(46, 46, 44);
    border-color: black;
}

.Labels{
    background-color:  rgb(46, 46, 44);
    margin-top: 10px;
}

@media (max-width: 700px){
    .sheet{
        width: 80%;
    }
}


@media (max-width: 1100px){
    .sheet{
        width: 60%;
    }
}

.background{
    background-image: url("../../public/backgrounds/circle-scatter-haikei.svg");
    height: 100%;
    width: 100%;
    padding-top: 200px;
    padding-bottom: 200px
}

.text{
    background-color: rgb(46, 46, 44);
}

.error{
    color: rgb(245, 64, 64);
    background-color: rgb(46, 46, 44);
}