

.nav{
    display: flex;
    background-color: var(--secundary_color_white);
    color: var(--main_color);
}

.search{
    order: 0;
    flex: 1 1 1fr;

}

.options{
    order: 1;
    flex: 1 0.5 1fr;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}

.indice{

}

.carrito{

}

.perfil{

}