

.nav{
    display: flex;
    background-color: var(--secundary_color_white);
    color: var(--main_color);
}

.search{
    order: 0;
    flex: 1 1 3fr;

    color: var(--secundary_color_white);

}

.options{
    order: 1;
    flex: 1 0.5 1fr;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}

.indice{

}

.carrito{

}

.perfil{

}

/* Va en el nav, pero da error y estoy centrado enotra cosa xD
<div>
<div className={style.options}>

            <Button className={style.indice}/>

            <Button className={style.carrito}/>

            <Button className={style.perfil}/>
</div>*/