

.nav{
    display: grid;
    grid-template-columns: .1fr 1fr 1fr;
    background-color: var(--secundary_color_white);
    
    align-items: center;
}

.ico{
    width: 90%;
    height: min-content;
    padding: 2px 0px;
    background-color: transparent;
    
}

.search{
    order: 0;
    flex: 3 1;
    

    color: var(--secundary_color_white);
    background-color: transparent;

}

.options{
    order: 1;
    flex: 1 0.5;

    background-color: transparent;
    color: var(--main_color);

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.options_Link{
    color: var(--main_color);
    text-decoration: none;
}

.options_Link:hover{

    color: var(--secundary_color_celeste);
    text-decoration: none;
}

.options_Link::selection{
    color: var(--secundary_color_green);
    background-color: var(--main_color);
}